/* Test css is workin - can be removed */
input#SearchBox{
    background-color: orange;
}


/* scalebar position */
div#OpenLayers_Control_ScaleLine_31{
    left: auto;
    top: auto;
    right: 10px;
}

/* Prevent large icons in mobile view */
[id^="OpenLayers_Geometry_Point"]{
    width: 16px !important;
    height: 16px !important;
}