/* Test css is workin - can be removed */
input#SearchBox{
    background-color: orange;
}


/* DESKTOP view scalebar position MOBILE needs to be positioned at top-right of page */
.olControlScaleLine{
    left: auto !important;
    top: auto !important;
    right: 10px !important;
}

/* Prevent large icons in mobile view */
/*
[id^="OpenLayers_Geometry_Point"]{
    width: 16px !important;
    height: 16px !important;
}
*/

/* hide cursor coordinates - temp fix */
div#OpenLayers_Control_MousePosition_69{
   display: none !important; 
}

/* Legend font size */
div#LegendDiv {
    font-size: larger !important;
    height: 225px !important;
    top: auto !important;
    bottom: 123px !important;
}

/* Find postcode */
div#SearchDiv {
    font-size: large !important;
    height: 100px !important;
    bottom: 123px !important;
    top: auto !important;
}
