/* Prevent margins on page - NEED TO TEST ON IPHONE */
body {
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
}

/* postion scalebar at top-right of map */
[id^="OpenLayers_Control_ScaleLine_"] {
    top: 10px !important;
    left: auto !important;
    right: 10px !important;
}
/* Sets attribution to top-left  position */
div#OpenLayers_Control_Attribution_15 {
    bottom: auto !important;
}
/* hides searchbox */
div#SearchDiv {
    display: none !important;
}
/* hides map tools */
div#MapToolsDiv {
    display: none;
}
/* hides legend div */
div#LegendDiv {
    /*display: none;*/
}
/* hide all openlayer panning zooming buttons */
[id^="OpenLayers_Control_PanZoom_16_"] {
    display: none !important;
}
/* hide xy mouse coordinates */
[id^="OpenLayers_Control_MousePosition_"]{
    display: none !important;
}

/* TOOLBAR STYLES */
div#toolbarContainer {
    position: absolute;
    bottom: 0px;
    background-color: #fff;
    text-align: center;
    width: 100%;
    z-index: 9999;
    border: 1px solid #000;
}
/* toolbar buttons */
div#myToolbar > a{
    display: inline-block;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    margin: 4px;
}

a#showFilter {
    background-image: url('https://cloud.githubusercontent.com/assets/16360753/11974694/60a39040-a95e-11e5-8720-389f176ad163.png');
}

a#toggleLegend {
    background-image: url('https://cloud.githubusercontent.com/assets/16360753/11973715/f7928844-a954-11e5-976f-d6c040e6e749.png');
}

/* Change cadline UI*/

/* Legend div */
/* Legend font size */
div#LegendDiv {
   font-size: larger !important;
   height: 225px !important;
   top: auto !important;
   bottom: 39px !important;
   border: 2px solid !important;
}
